/* news-main */
.news-main{
    width: 100%;
    height: 300px;
    background-color: aqua;
}
.news-main h3 {
    text-transform: uppercase;
    padding: 95px 0 0 144px;
    font-family: sans-serif;
}
/* news-container */
.news-container{
    display: flex;
    margin: 8px 0 0 100px;
    
}
.news-container .box {
    background-color: #0c4c7c;
    height: 130px;
    width: 490px;
    margin-left: 25px;
}
.box1 .box1-heading{
    padding:20px 0 0 50px ;
    color: rgb(255, 181, 45);

}
.box1 .box1-para1{
    color: aliceblue;
    padding: 4px 0 0 24px;
    font-size: 15px;
    font-family: sans-serif;
}
.box1 .box1-para2{
    color: aliceblue;
        padding: 4px 0 0 24px;
        font-size: 10px;
        font-family: sans-serif;

}
.box a {
    color: orange;
}
.box2 .box2-heading {
    padding: 20px 0 0 50px;
    color: rgb(255, 181, 45);

}

.box2 .box2-para1 {
    color: aliceblue;
    padding: 4px 0 0 24px;
    font-size: 15px;
    font-family: sans-serif;
}

.box2 .box2-para2 {
    color: aliceblue;
    padding: 4px 0 0 24px;
    font-size: 10px;
    font-family: sans-serif;

}