
.flex{
display: flex;
flex-direction: row-reverse;


}
.intro{ 
    background-image: url(./images/intro.jpg);
    background-size: cover;
    position:relative;
    height: 600px;
    background-repeat: no-repeat;
    width: 80%;
    flex-grow: 500px;

    
 
   }
h1{
    padding-top: 10%;
    padding-right: 200px;
    text-align: center;
    text-decoration: solid;
    color: #241616;
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;

    }
    p{
        padding-left: 10%;
        padding-top: 2%;
            text-decoration: solid;
            color: #1f0a0a;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .box{
            background-color: #0c4c7c;
            height: 600px;
            width: 42.80%;
        }