/* service-container */
.service {
    display: flex;
    /* height: 200px; */


}

.service .service-one {

    background-color: #0c4c7c;
    height: inherit;
    width: 50%;
}

.service-one {
    text-align: center;
    padding: 50px;
    color: white;
}

.list-1 {
    height: 107px;
    width: 495px;
    background-color: #345b79;
    padding-left: 20px;
    margin: 10px 0 0 113px
}

.list-1 h5 {
    text-transform: uppercase;
    padding: 10px 155px 0 0;
    color: aliceblue;
}

.list-1 p {
    font-size: small;
    padding: 8px 48px 0 70px;
    color: antiquewhite;
}

.list-1 span {
    padding-right:74px ;
}
.list-2 {
    height: 107px;
    width: 495px;
    background-color: #345b79;
    padding-left: 20px;
    margin: 10px 0 0 113px
}

.list-2 h5 {
    text-transform: uppercase;
    padding: 10px 190px 0 0;
    color: aliceblue;
}

.list-2 p {
    font-size: small;
    padding: 8px 48px 0 70px;
    color: antiquewhite;
}

.list-2 span {
    padding-right: 130px;
}
.list-3 {
    height: 107px;
    width: 495px;
    background-color: #345b79;
    padding-left: 20px;
    margin: 10px 0 0 113px
}

.list-3 h5 {
    text-transform: uppercase;
    padding: 10px 225px 0 0;
    color: aliceblue;
}

.list-3 p {
    font-size: small;
    padding: 8px 48px 0 70px;
    color: antiquewhite;
}

.list-3 span {
    padding-right: 207px;
}


.service-video {
    background-color: green;
    height: 100px;
    width: 100%;
    /* background-image: url(../images/bg-section.png); */
    padding-top: 230px;
}
.service .service-two {
    background-color: white;
    height: inherit;
    width: 50%;

}
.service-details h4{
    padding: 35px 0 0 35px;
}
.service-details p{
    
    padding: 8px 0 0 35px;
    font-size: small;
}
.service-details span{
    display: inline-block;
}